<footer>
	<div class="container">
		<div class="row text-center">
			<p>Maintained by the <a href="https://github.com/orgs/peatio/people" target="_blank">core team</a> with the help of <a href="https://github.com/peatio/peatio/graphs/contributors" target="_blank">our contributors</a>.</p>
			<p>Code licensed under <a href="http://peatio.mit-license.org/" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
			<p>
			</p>
			<ul class="list-inline">
				<li>
					<span>Currently v0.2.1</span>
				</li>
				<li>
					<a href="https://github.com/peatio/peatio" target="_blank">GitHub</a>
				</li>
				<li>
					<a href="https://github.com/peatio/peatio/tree/master/doc" target="_blank">Documents</a>
				</li>
				<li>
					<a href="https://github.com/peatio/peatio/wiki/About" target="_blank">About</a>
				</li>
				<li>
					<a href="https://github.com/peatio/peatio/issues?state=open" target="_blank">Issues</a>
				</li>
				<li>
					<a href="https://github.com/peatio/peatio/releases" target="_blank">Releases</a>
				</li>
			</ul>
			<p>
			</p>
		</div>
	</div>
</footer>