<footer class="navbar navbar-inverse footer">
	<div class="container">
		<div class="clearfix">
			<ul class="nav navbar-nav">
				<li>关于我们</li>
				<li>媒体报道</li>
				<li>联系我们</li>
				<li>团队介绍</li>
				<li>诚聘英才</li>
				<li>服务条款</li>
				<li>免责声明</li>
				<li>隐私保护</li>
			</ul>
		</div>
		<div class="about">
			<p class="clearfix">
				<span class="fl">联系我们：+852 5808 5768 (英文服务 7*24小时)&nbsp;&nbsp;&nbsp;&nbsp;400 888 6636 (中文服务 7*24小时)</span>
				<span class="fr">©2013-2017 OKCoin.com Inc. All Rights Reserved</span>
			</p>
			<p class="clearfix">
				<span class="fl">公司地址：香港铜锣湾告士打道255-257号信和广场21层</span>
				<span class="fr">市场有风险 投资需谨慎</span>
			</p>
		</div>
	</div>
</footer>