<header class="header navbar navbar-inverse">
	<div class="container">
		<div class="collapse navbar-collapse">
			<div class="navbar-nav" id="market_view">
				<span class="navbar-brand hidden-sm market-title">市场概况
					<span class="fa fa-sort-desc" style="vertical-align:3px;"></span>
				</span>
			</div>
			<ul class="nav navbar-nav market-banner">
				<li>
					<span class="gray">BTC/USD:</span>
					<i class="red">$</i>
					<span class="red">5,962.660</span>
					<span class="red fa fa-arrow-down"></span>
				</li>
				<li>
					<span class="gray">BTC/USD:</span>
					<i class="red">$</i>
					<span class="red">5,962.660</span>
				</li>
				<li>
					<span class="gray">BTC/USD:</span>
					<i class="red">$</i>
					<span class="red">5,962.660</span>
				</li>
				<li>
					<span class="gray">BTC/USD:</span>
					<i class="red">$</i>
					<span class="red">5,962.660</span>
				</li>
				<li>
					<span class="gray">BTC/USD:</span>
					<i class="red">$</i>
					<span class="red">5,962.660</span>
				</li>
			</ul>
			<div class="nav navbar-nav navbar-right personal-title">
				<a href="/signin">登录</a>
				<a class="btn btn-primary btn-sm" href="/signup">注册</a>
			</div>
		</div>
	</div>
</header>