<html lang="en">
<head>
	<script type="text/javascript"></script>
	<link href="/css/global.css?body=1" media="all" rel="stylesheet">
	<title>Peatio - The Opensource Cryptocurrency Exchange</title>
	<meta content="Peatio - The Opensource Cryptocurrency Exchange" name="description">
	<meta content="Peatio,Opensource,Exchange,Cryptocurrency" name="keywords">
	<meta content="authenticity_token" name="csrf-param">
	<meta content="FEo67uqYsBv+uBwBZM//ug8PCH/ufbeYBEWeXtV++Mk=" name="csrf-token">
</head>
<body data-lang="zh-cn" id="welcome-index">
	<div id="wrap">
		<div class="alert alert-danger alert-dismissable pusher-unavailable hide" role="alert">
			<div class="container">
				<button class="close" data-dismiss="alert" type="button">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Close</span>
				</button>
				<span class="text-important">与服务器通讯异常，<a href="#" class="alert-link">请刷新页面重试</a>。</span>
			</div>
		</div>
		<header class="text-center">
			<div class="ribbon">
				<a href="https://github.com/Changdao/peatio">View on GitHub</a>
			</div>
			<div class="container">
				<a href="http://github.com/Changdao/peatio"><img src="/images/logo.png" width="336px"></a>
				<section>
					<h3>貔貅，将致力于成为世界级的交易软件。</h3>
				</section>
				<div class="row" id="getstart">
					<div class="col-xs-4 col-xs-offset-6">
						<a class="btn btn-primary btn-lg btn-block" href="/signin" role="button">登录</a>
					</div>
					<div class="col-xs-4">
						<a class="btn btn-primary btn-lg btn-block" href="/auth/weibo" role="button">微博登陆</a></div>
					<div class="col-xs-4">
						<a class="btn btn-primary btn-lg btn-block" href="/signup" role="button">创建账户</a>
					</div>
				</div>
			</div>
		</header>
		<div id="push">
		</div>
	</div>
	<footer>
		<div class="container">
		<div class="row text-center">
		<p>Maintained by the <a href="https://github.com/orgs/peatio/people" target="_blank">core team</a> with the help of <a href="https://github.com/peatio/peatio/graphs/contributors" target="_blank">our contributors</a>.</p>
	<p>Code licensed under <a href="http://peatio.mit-license.org/" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
	<p>
	</p>
	<ul class="list-inline">
		<li>
		<span>Currently v0.2.1</span>
			</li>
			<li>
				<a href="https://github.com/peatio/peatio" target="_blank">GitHub</a>
			</li>
			<li>
				<a href="https://github.com/peatio/peatio/tree/master/doc" target="_blank">Documents</a>
			</li>
			<li>
				<a href="https://github.com/peatio/peatio/wiki/About" target="_blank">About</a>
			</li>
			<li>
				<a href="https://github.com/peatio/peatio/issues?state=open" target="_blank">Issues</a>
			</li>
			<li>
				<a href="https://github.com/peatio/peatio/releases" target="_blank">Releases</a>
			</li>
			</ul>
			<p>
			</p>
		</div>
		</div>
	</footer>
</body>
</html>