<html>
<head>
	<title>安全中心</title>
	<% include resource.ejs %>
	<link rel='stylesheet' href='/css/setting.css' />
</head>
<body>
	<% include header.ejs %>
	<div class="nav2 navbar navbar-inverse">
		<div class="container">
			<div class="logo">
				<span>LOGO</span>
			</div>
			<div class="nav navbar-nav navbar-right nav-menu">
				<div><a href="">首页</a></div>
				<div><a href="">币币交易</a></div>
				<div><a href="/future">合约交易</a></div>
				<div><a href="">行情图表</a></div>
				<div><a href="">资金管理</a></div>
				<div><a class="ac" href="">个人中心</a></div>
				<div><a href="">API</a></div>
			</div>
		</div>
	</div>
	<div class="main container">
		<div class="left-menu">
			<div>
				<div class="list-title">
					<span class="fa fa-cog"></span>
					<span style="vertical-align:2px;">基本设置</span>
				</div>
				<ul class="list-group">
					<li class="list-group-item ac">
						<a href="">安全中心</a>
					</li>
					<li class="list-group-item">
						<a href="">通知设置</a>
					</li>
					<li class="list-group-item">
						<a href="">我的 API</a>
					</li>
					<li class="list-group-item">
						<a href="">账户管理</a>
					</li>
				</ul>
			</div>
			<div class="trade">
				<div class="list-title">
					<span class="fa fa-commenting-o"></span>
					<span style="vertical-align:2px;">支持</span>
				</div>
				<ul class="list-group">
					<li class="list-group-item">
						<a href="">发起提问</a>
					</li>
					<li class="list-group-item">
						<a href="">问题列表</a>
					</li>
				</ul>
			</div>
			<div class="service">
				<div class="list-title">
					<span style="vertical-align:2px;">QQ服务支持</span>
				</div>
				<ul class="list-group">
					<li class="list-group-item">
						<a href="">合约3群:531307100</a>
					</li>
					<li class="list-group-item">
						<a href="">合约4群:546515792</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="right-main">
			<div class="user-safe">
				<span class="lg-title">资产安全</span>
				<span>请不要透露短信和谷歌验证码给任何人，包括OKCoin的客服。</span>
				<div class="safe-item">
					<div class="title">
						<span class="fa fa-check-circle"></span>
						<span>登录密码</span>
					</div>
					<div class="detail">
						<span>IP:</span><span>121.69.71.50</span>
					</div>
					<div class="action">
						<a href="">修改密码</a>
					</div>
				</div>
				<div class="safe-item phone">
					<div class="title">
						<span class="fa fa-check-circle"></span>
						<span>手机绑定</span>
					</div>
					<div class="detail">
						<span>手机:</span><span>153****1535</span>
						<br>
						<span>提现，修改密码，及安全设置时用以收取验证短信</span>
					</div>
					<div class="action">
						<a href="">修改</a>
					</div>
				</div>
				<div class="safe-item">
					<div class="title">
						<span class="fa fa-check-circle"></span>
						<span>资金密码</span>
					</div>
					<div class="detail">
						<span>交易，提现，修改安全设置时输入。</span>
					</div>
					<div class="action">
						<a href="">修改密码</a> | <a href="">忘记密码</a>
					</div>
				</div>
				<div class="safe-item email red">
					<div class="title">
						<span class="fa fa-exclamation-circle"></span>
						<span>邮箱验证</span>
					</div>
					<div class="detail">
						<span>您为 登录用户，您可以绑定一个经常使用的邮箱，该邮箱可用于登录、找回登录密码、资金密码、以及提币时进行确认。</span>
					</div>
					<div class="action">
						<a href="">设置</a>
					</div>
				</div>
				<div class="safe-item inport-pw">
					<div class="title">
						<span>交易时输入资金密码</span>
					</div>
					<div class="detail">
						<input type="radio" name="input-pw" id="inportPw1">
						<label for="inportPw1">每次输入</label>
						<input type="radio" name="input-pw" id="inportPw2">
						<label for="inportPw2">每两小时输入</label>
						<input type="radio" name="input-pw" id="inportPw3">
						<label for="inportPw3">不输入</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include footer.ejs %>
</body>
<html>