<html lang="zh">
<head>
	<link href="/css/global.css?body=1" media="all" rel="stylesheet">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-switch.min.js"></script>
	<title>Peatio - The Opensource Cryptocurrency Exchange</title>
	<meta content="Peatio - The Opensource Cryptocurrency Exchange" name="description">
	<meta content="Peatio,Opensource,Exchange,Cryptocurrency" name="keywords">
	<meta content="authenticity_token" name="csrf-param">
	<meta content="pBsfEX2FBba71+8FOx9XgdBaJI4txbQQBDiEpY2mMzI=" name="csrf-token">
</head>
<body data-lang="zh-cn" id="sessions-new">
	<div class="alert alert-danger alert-dismissable pusher-unavailable hide" role="alert">
		<div class="container">
			<button class="close" data-dismiss="alert" type="button">
				<span aria-hidden="true">×</span>
				<span class="sr-only">Close</span>
			</button>
			<span class="text-important">与服务器通讯异常，<a href="#" class="alert-link">请刷新页面重试</a>。</span>
		</div>
	</div>
	<div id="wrap">
		<% include header %>
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">登录</h2>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-8" id="guide">
							<h3>登录我的账户</h3>
							<p class="text-ignore">现在登录，以便您开始交易，随时关注交易动态。</p>
							<ul class="list-unstyled">
								<li>
									<a href="/reset_passwords/new">忘记密码</a>
								</li>
								<li>
									<a href="/signup">创建账户</a>
								</li>
							</ul>
						</div>
						<div class="col-xs-16" id="content">
							<div class="flash-message <% if(typeof(error) !== 'undefined'){ %><%=error%><%}%>">
								<% if(typeof(error) !== 'undefined' && error == 'notLogin'){ %>
								<div class="alert alert-dismissable alert-danger">
									<button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
									<p><i class="fa fa-info-circle"></i><span>本操作需要登录，请先登录</span></p>
								</div>
								<% } else if(typeof(error) !== 'undefined' && error == 'notUser'){ %>
								<div class="alert alert-dismissable alert-danger">
									<button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
									<p><i class="fa fa-info-circle"></i><span>用户名不存在，请重新输入</span></p>
								</div>
								<% } else if(typeof(error) !== 'undefined' && error == 'pwdWrong'){ %>
								<div class="alert alert-dismissable alert-danger">
									<button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
									<p><i class="fa fa-info-circle"></i><span>您输入的密码不正确，请重新输入</span></p>
								</div>
								<% } else if(typeof(error) !== 'undefined' && error == 'disabled'){ %>
								<div class="alert alert-dismissable alert-danger">
									<button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
									<p><i class="fa fa-info-circle"></i><span>账号已停用，请联系管理员</span></p>
								</div>
								<% } %>
							</div>
							<form accept-charset="UTF-8" action="/signin" class="simple_form form-horizontal" id="new_identity" method="post" novalidate="novalidate">
								<div style="margin:0;padding:0;display:inline">
									<input name="utf8" type="hidden" value="✓">
									<input name="authenticity_token" type="hidden" value="pBsfEX2FBba71+8FOx9XgdBaJI4txbQQBDiEpY2mMzI=">
								</div>
								<div class="form-group email required identity_email">
									<div class="col-xs-8 text-right">
										<label class="email required control-label" for="identity_email">
										<abbr title="必须的">*</abbr> 登录邮箱</label>
									</div>
									<div class="col-xs-14">
										<input autofocus="autofocus" class="string email required form-control" id="identity_email" name="auth_key" placeholder="邮箱地址" type="email" value="<% if(typeof(auth_key) !== 'undefined'){%><%=auth_key%><%}%>">
									</div>
								</div>
								<div class="form-group password required identity_password field_with_hint">
									<div class="col-xs-8 text-right">
										<label class="password required control-label" for="identity_password">
										<abbr title="必须的">*</abbr> 登录密码</label>
									</div>
									<div class="col-xs-14">
										<input class="password required form-control" id="identity_password" name="password" placeholder="密码" type="password">
									</div>
									<span class="hint col-xs-14 col-xs-offset-8">请输入至少6位密码, 建议包含大写、小写字母与数字。</span>
								</div>
								<hr class="split">
								<div class="form-group">
									<div class="form-submit col-xs-22">
										<input cancel="/" class="btn btn-default btn-lg pull-right btn" data-loading-text="Creating..." name="commit" type="submit" value="登录">
										<a class="btn btn-info btn-lg pull-right" href="/">取消</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="push"></div>
	</div>
	<% include footer.ejs %>
</body>
</html>